
.error-msg{
  color:#f50;
  padding-left:10px;
  padding-top:10px;
}

/*tar-bar固定在底部*/
.am-tab-bar{
  height:auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*导航固定在顶部*/
.fixd-header.am-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:99;
}
